
footer{

    border-top: 1px solid #5f6368;
    background-color: $col-footer;
    padding: 15px 0;
    .container-footer{
        display: flex;
        justify-content: space-between;
        color: $col-title;
        width: 80%;
        margin: 0 auto ;     
        .footer-list {
            list-style: none;
            display: flex;
            li {
                margin-right: 10px;
                cursor: pointer;
            }
            li:not(:last-of-type)::after{
                content: " \00B7";
                margin-left: 5px;
            }
        }
        .lang {
            select{
                width: 100px;
            }
        }
        .fa-globe{
            color: #4bb5f8;
        }
    }
}

