
    // Nav Top
header{
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $col-title;
        max-height: 100px;
        background-color: white;
    }
    .title,
    .log {
        display: flex;
        align-items: center;
        color: $col-title;

    }
    .img-logo {
        height: 30px;
    }
    .privacy {
        font-size: 22px;
    }
    
    // Nav Bottom

    .menu {
        display: flex;
        width: 100%;
        list-style: none;
        color: $col-title;
        
        li {
            margin-right: 30px;
            padding-bottom: 10px;
            cursor: pointer;
            &:nth-child(5){
                border-bottom: 2px solid $col-act-1;
            }
        }
        
    }
}