main{
    .container-main{
        width: 80%;
        margin: 150px auto 50px;
    }
    .faq-list {
        h3 {
            padding-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
    }
}